@import "tailwindcss";

@font-face {
  font-family: "Compacta";
  src: url("/fonts/Compacta%20LT%20Light%20Compress.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-compacta: "Compacta", sans-serif;
}





